/* Comments Block component styles - 
TO-DO: needs renaming to Comments Block from Comments, as naming convention too vague 
*/
.comments__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(1rem, auto);
  padding: 2rem 0;
  border: solid #eee;
  border-width: 0.1rem 0;
  margin: 1rem 0 0;
}
.comments__heading {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: serif;
}
.comments__filters {
  grid-column: 4 / 4;
  grid-row: 1;
  font-size: 1.1rem;
  font-family: sans-serif;
  margin: 0.2rem;
}
.comments__filters > a {
  border: 0.1rem solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 0 0 0 1rem;
  cursor: pointer;
}
.comments__filters > a:hover,
.comments__filters > a:active {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

/* Comment sub-component styles
TO-DO: to be abstracted out into separate sub-component specific styles 
*/
.comment__item {
  padding: 1rem 0;
  border: solid #eee;
  border-width: 0 0 0.1rem 0;
}
.comment__name {
  font-size: 1.35rem;
  font-weight: 600;
  font-family: serif;
  margin-right: 1rem;
}
.comment__date {
  font-family: sans-serif;
  color: #777;
}
.comment__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(1rem, auto);
}
.comment__data-left {
  grid-column: 1 / 4;
  grid-row: 1;
}
.comment__data-right {
  grid-column: 4 / 4;
  grid-row: 1;
}
.comment__likes {
  font-weight: 500;
  font-family: sans-serif;
}
.comment__body {
  font-size: 1.15rem;
  font-weight: 100;
  font-family: sans-serif;
  line-height: 1.5rem;
  margin: 1.25rem 0 0;
}
